.App{
  min-height: 100vh;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  border:1px solid #f0f0f0;
  width: 40%;
  padding: 2px;
  float: center;
}

.search-button{
  background: #f0f0f0;
  border: none;
  padding: 3px 15px;
  color: #000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* .recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
} */
